$icomoon-font-path: "fonts" !default;

$icon-searh-path1: "\e911";
$icon-searh-path2: "\e912";
$icon-searh-path3: "\e913";
$icon-datos-path1: "\e900";
$icon-datos-path2: "\e901";
$icon-datos-path3: "\e902";
$icon-datos-path4: "\e903";
$icon-datos-path5: "\e904";
$icon-datos-path6: "\e905";
$icon-entrevistas-path1: "\e906";
$icon-entrevistas-path2: "\e907";
$icon-entrevistas-path3: "\e908";
$icon-entrevistas-path4: "\e909";
$icon-entrevistas-path5: "\e90a";
$icon-entrevistas-path6: "\e90b";
$icon-entrevistas-path7: "\e90c";
$icon-matriz-path1: "\e90d";
$icon-matriz-path2: "\e90e";
$icon-mc-path1: "\e90f";
$icon-mc-path2: "\e910";
$icon-perfil2-path1: "\e915";
$icon-perfil2-path2: "\e916";
$icon-perfil2-path3: "\e917";
$icon-perfil2-path4: "\e918";
$icon-pruebas-path1: "\e919";
$icon-pruebas-path2: "\e91a";
$icon-pruebas-path3: "\e91b";
$icon-pruebas-path4: "\e91c";
$icon-pruebas-path5: "\e91d";
$icon-pruebas-path6: "\e91e";
$icon-pruebas-path7: "\e91f";
$icon-pruebas-path8: "\e920";
$icon-refenciacion-path1: "\e921";
$icon-refenciacion-path2: "\e922";
$icon-refenciacion-path3: "\e923";
$icon-status-path1: "\e924";
$icon-status-path2: "\e925";
$icon-status-path3: "\e926";
$icon-status-path4: "\e927";
$icon-status-path5: "\e928";
$icon-status-path6: "\e929";
$icon-status-path7: "\e92a";
$icon-status-path8: "\e92b";

