/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/nbproject
/nbproject/private/private.xml
configuraciones
public/configuracion_sitio
public/contratos/*.pdf
public/carpetas_colaboradores
public/recursos_pruebas
public/recursos_documentos_verificados
public/archivo_hv
public/recursos_datosbasicos/*
public/recursos_documentos
public/recursos_retroalimentacion
public/audio_llamada
public/cliente_img
public/recursos_Perfiles
public/recursos_videoperfil
public/recursos_videoPrueba
public/recursos_VideoIdioma
public/documentos_solicitud
public/recursos_videoRespuesta
public/video_contratos
public/recursos_VideoOfertaIdioma
public/recursos_documentos_contratacion
public/recursos_pdf_consulta
public/recursos_adelanto_nomina
public/recursos_adelanto_nomina_fotos
public/recursos_clientes_logos
public/recursos_videoContratacion
public/contratos_anulados
public/recursos_carta_presentacion
public/recursos_prueba_excel
public/recursos_prueba_valores_1/
public/recursos_evaluacion_induccion/
public/recursos_pdf_consulta_sin_proceso
public/recursos_listas_vinculantes
public/recursos_evaluacion_sst
public/recursos_consentimiento_permiso_adicional
public/documentos_candidatos
public/carnet_*
public/documentos_grupo_familiar
public/POLITICA_TRATAMIENTO_DATOS_2021.pdf
public/test_public_html
public/temp
public/recursos_adelanto_nomina/
public/imagenes_cargos/
public/recursos_adelanto_nomina_fotos/
public/recursos_encuesta_sociodemografica/
public/imagenes_cargos/
public/recursos_generador_clausulas/
storage/exports
resources/views/admin/reclutamiento/requerimiento_s.blade.php
public/error_log
.vscode/
/.phpintel
/.idea
public/documentos_clientes
/public/templates_src
/public/recursos_prueba_digitacion
/public/recursos_prueba_ps
/public/recursos_firma_contrato_fotos
/public/recursos_prueba_bryg
/public/respaldo_ftp
public/recursos_visita_domiciliaria
#White list
!public/js/gestion-requerimiento.js
!public/js/admin
!public/js/cv
!public/src
!public/js/trumbowyg
